/* .CardContainer {


  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  align-items: flex-start;
  gap: 0.625rem;
  margin: 1rem;
  background: #F4F4F4;


} */


/* 수정본 */
.CardContainer {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  align-items: flex-start;
  gap: 0.625rem;
  margin: 1rem;
  background: #F4F4F4;
}

.noResults {
  color: var(--text-light, #C0C0C0);
  font-size: 1rem;
  text-align: center;
}

.queryText {
  color: var(--text-dark, #333);
  font-weight: bold;
}
