.CardWrapper {
  background-color: var(--bg-color);


width: 23.4375rem;
height: 41.6875rem;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  align-items: flex-start;
  gap: 0.625rem;
  
  background-color: var(--bg-color);
}

.noResults {
  /* color: var(--text-light, #C0C0C0); */

  color: black;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 19.60px;
  word-wrap: break-word;
  text-align: center;
}

.queryText {
  color: var(--text-dark, #333);
  font-weight: bold;
  color: #848484;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 19.60px;
  word-wrap: break-word;
}