.scroll-x-layout {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x-layout::-webkit-scrollbar {
  display: none;
}

.scroll-x-layout:active {
  cursor: grabbing;
}