.Search_Container {
  height: 3.8rem;
  margin-top: 0.3rem;
}

.searchBar {
    /* display: flex;
    width: 19.4375rem;
    height: 1.5rem;
    padding: 0.6875rem 1rem;
    justify-content: center;
    align-items: flex-start;
    gap: 6.6875rem;
    flex-shrink: 0; */
    position: absolute;
    display: flex;
    width: 19.4375rem;
   
    height: 1.5rem;
    padding: 0.6875rem 1rem;
    justify-content: center;
    align-items: flex-start;
    gap: 6.6875rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid var(--text_light, #C0C0C0);
    background: #FFF;

    margin: 0rem 1rem 0rem 1rem;
}

.input {
    display: flex;
    width: 11.25rem;
    height: 1.4375rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: var(--text_light, #C0C0C0);

    /* body/body2 M16 */
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 1.6rem */
}

.inputText {
    border-width: 0;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}
/* ================================================== */
.inputText:focus {
    outline: none;
}
.icon:hover {
    cursor: pointer;
}
