.searchResult {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between; /* 요소들을 양 끝으로 정렬 */
  width: 100%; /* 부모 컨테이너의 너비에 맞춤 */
}

.resultMessage {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  white-space: nowrap; /* 줄바꿈 방지 */

}

.searchTerm {
  font-weight: bold;
  color: var(--text_normal, #848484);
}

.searchMessage {
  color: var(--text_deep, #363636);
  margin-right: 0.5rem;
  font-weight: 500;
  
}

.DropdownMenu {
  margin-left: auto; /* 자동으로 좌측 여백을 추가하여 오른쪽으로 정렬 */
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
   
}
