.dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.dropdownToggle {
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex; /* flex를 사용하여 수평 정렬 */
  align-items: center; /* 수직으로 가운데 정렬 */
  justify-content: center; /* 텍스트와 아이콘 사이에 공간 추가 */
  padding: 0.625rem; /* 패딩 추가 */
}

.dropdownMenu {
  position: absolute;
  top: 100%; /* 버튼 아래에 바로 위치시킴 */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.dropdownToggle span {
  margin-left: 0.5rem; /* 텍스트와 아이콘 사이의 간격 */
}

.dropdownMenuItem {
  padding: 0.5rem;
  cursor: pointer;
  text-align: left;
}

.dropdownMenuItem:hover {
  background-color: #f1f1f1;
}

.icon {
  margin-left: 0.5rem;
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
}
