.base {
    display: flex;
    padding: 1rem 7.25rem 0.875rem 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.875rem;

    background: var(--bg-color);
  

    margin-top: 0.25rem;
}

.title {
    color: var(--text_deep, #363636);
}

.infoList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    width: 20rem;
}

.img {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
}

.detail {
    color: var(--text_deep, #363636);
}