.container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem; /* 16px */

    /* 3.875 + 3.5 + 1.5 */
    margin-top: 1rem;
    margin-left: 1rem;
}
  
.list_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0.5rem; /* 8px */

    overflow-x: scroll;
}

/* 스크롤바 제거 */
.list_container::-webkit-scrollbar {
    display: none;
}


.layout {
  width: 23.4375rem;
  /* height: 41.6875rem; */
  height:auto;
  background: var(--white);
  overflow: hidden;
  display: block;
}  