.text {
    color: #000;

    margin: 1rem 12.06rem 0 1rem;
}

.divide {
    width: 21.4375rem;
    height: 0.125rem;
    flex-shrink: 0;

    background: #D9D9D9;

    margin: 0.5rem 1rem 0 1rem;
}

.locInfo {
    display: inline-flex;
    align-items: center;
    gap: 9.95rem;

    margin: 0 1rem 0 1rem;
}

.loc {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
}

/* ======================================== */
.librarys {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    margin: 0.75rem 11.5rem 0 1rem;
}

.libraryInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
}

.libraryName {
    color: var(--text_deep, #363636);
}

.libraryLoc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.address {
    color: var(--text_normal, #848484);
}

.distance {
    color: var(--text_light, #C0C0C0);
}