/* hyein's style */

.Wrapper {
 display: flex;

 width: 21.4375rem;

padding: 1rem;
justify-content: center;
align-items: flex-start;
 flex-shrink: 0;
background: var(--primary, #38ACFF);

}

.SearchContainer {
width: 100%;
display: flex;
align-items: center;
height: 2.875rem;
 justify-content: center;
 margin: auto 0;
flex-shrink: 0;
border-radius: 1.25rem;
position: relative;
}

.SearchBar::placeholder {
  color: var(--text-light);
}

.SearchBar {
 flex: 1;
 height: 100%;
 padding: 0 1.25rem;
 border: none;
 outline: none;
 border-radius: 20px;
 font-size: 1rem;
 font-weight: 500;
 line-height: 1.6rem;
 letter-spacing: 0;
 text-align:left;
}

.SearchButton {
gap: 6.8125rem;
 align-items: center;
 justify-content: center;
width: 24px;
height: 24px;
position: absolute;
/* SearchContainer를 기준으로 위치 조정  */
  right: 1rem; /* 오른쪽 여백 추가 */
  background: none;  /*버튼의 배경 제거 */
border: none;
 cursor: pointer;
}

.SearchButton img {
 width: 24px;
height: 24px;

}

.SearchBar:focus {
 border-color: var(--main-color, #38ACFF);
 outline: none;
}

 