.layout {
    display: inline-flex;
    height: 1.5rem;
    padding: 1rem 1rem 1rem 8.125rem;
    justify-content: center;
    align-items: flex-start;
    gap: 5.6875rem;
    flex-shrink: 0;
    

    background: #FFF;
}
.title {
    color: #000;
}

.exit {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.exit:hover {
    cursor: pointer;
}