.title {
  font-size: 18px;
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  width: 23.4375rem; /* 375px */;
  height: 3.5rem; /* 56px */
  justify-content: center;
  gap: 6.25rem; /* 100px */
  font-weight: bold;
  background: #FFF;
  font-weight: 18px;
  margin: auto 0;
}

.icon {
  display:  flex;
  width: 24px;
  height: 24px;

}