:root{
    --white : #FFF;
    --black : #000;
}

/* 기본 화면 */
.layout {
    width: 23.4375rem;
    height: 41.6875rem;

    background: var(--white);
    overflow: hidden;
    display: block;

    border: solid 1px #cccc;
}

/* hamberger menu 오픈 시 배경 */
.oplayout {
    width: 23.4375rem;
    height: 41.6875rem;
    flex-shrink: 0;


    background-color: rgba(0, 0, 0, 0.5);
    background: #000;
    overflow: hidden;
}

/*body {*/
/*    margin: 0;*/
/*    display: flex;*/
/*    place-items: center;*/
/*    min-width: 320px;*/
/*    min-height: 100vh;*/

/*    background-color: var(#242424);*/
/*}*/

/*h1 {*/
/*    font-size: 3.2em;*/
/*    line-height: 1.1;*/
/*}*/