.bookListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 23.4375rem;
  margin:  auto;

  margin-top: 3rem;
  
}

.bookListContent {
  padding: 0 1rem;
  margin-top: 0.8rem;
  
}

.bookListHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.title {
  color: #000;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: flex;
  width: 6.125rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 1.25rem;
  margin-bottom:  1rem;
}

.totalCount {
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom:  1rem;
 
}

.bookList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.bookItem {
  display: flex;
  justify-content: center;
}

.bookImage {
  width: 8.0625rem;
  height: 12.1875rem;
  object-fit: cover;
  border-radius: 5px;
}