/* .container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26.25rem;  
  height: 11.4375rem;  
  gap: 1rem;  
}

.list_container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;  
} */

/* 혜인 수정 */
.container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.title {
  text-align: left;
  margin-bottom: 0.5rem;
}

.book_list {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
}

.book_image {
  width: 6.1875rem;
  height: 8.875rem;
  border-radius: 0.25rem;
  cursor: pointer;
  flex-shrink: 0;
}

.no_books {
  text-align: center;
  width: 100%;
}
