.layout {
    display: inline-flex;
    height: 1.5rem;
    padding: 1rem 0.75rem 1rem 0.75rem;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5.6875rem;
    flex-shrink: 0;

    background: #FFF;
}
.title {
    color: #000;
}

.exit {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.back {
    width: 1.5rem;
    height: 1.5rem;
}

.exit, .back:hover {
    cursor: pointer;
}